<div class="col">
    <div class="card">
        <ng-template [ngIf]="product.image">
            <div class="product-img" *ngIf="product.image">
                <img src="{{product.image}}" class="bd-placeholder-img card-img-top">
            </div>
        </ng-template>

        <div class="card-body">
            <h4 class="fw-bold">{{product.title}}</h4>
            <p class="card-text">{{product.description}}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button type="button" [routerLink]="['/products', product.id]" class="btn btn-primary px-5 hvr-shutter-out-horizontal">
                        Подробнее</button>
                </div>
            </div>
        </div>
    </div>
</div>
